html {
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    text-align: center;
}

.remiGif {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 #horizontalList li {
    display:inline;
}